<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/css/carrito.css">
   <title>Carrito</title>
</head>

<body class="carrito">
   <header>
      <a href="/" class="logo-link">
         <img class="logo" src="/assets/img/logo-verde.svg" alt="Logo principal">
      </a>
      <button type="button" class="btn-menu">
         <img src="/assets/img/menu-icono.svg" class="menu-icono" />
         <span>Categorias</span>
      </button>
      <button type="button" class="btn-buscar">
         <img src="/assets/img/lupa-icono.svg" class="lupa-icono" />
      </button>
      <button type="button" class="btn-cuenta">
         <img src="/assets/img/usuario-icono.svg" class="usuario-icono" />
         <span>Mi Cuenta</span>
         <div class="contendor-login-register">
            <p>Si ya tenes una cuenta, inicia sesion!</p>
            <a href="/login">Iniciar sesión</a>
            <p>Si aún no tenes una cuenta, registrate!</p>
            <a href="/register">Registrarse</a>
         </div>
      </button>
      <button type="button" class="btn-carrito">
         <img src="/assets/img/carrito-icono.svg" class="carrito-icono" />
      </button>

      <nav class="categorias-contenedor">
         <div class="imagen-fondo cereales"></div>
         <div class="imagen-fondo frutos-secos"></div>
         <div class="imagen-fondo jugos"></div>
         <div class="imagen-fondo infusiones"></div>
         <ul>
            <li><a class="link-categoria" href="./" data-nombre_categoria="cereales">Fideos / Cereales</a></li>
            <li><a class="link-categoria" href="./" data-nombre_categoria="frutos-secos">Frutos secos</a></li>
            <li><a class="link-categoria" href="./" data-nombre_categoria="jugos">Jugos y bebidas</a></li>
            <li><a class="link-categoria" href="./" data-nombre_categoria="infusiones">Infusiones</a></li>
         </ul>
      </nav>
      <form action="/" method="GET" class="barra-busqueda">
         <input type="text" placeholder="Buscar producto">
      </form>
   </header>

   <div class="modalBg"></div>

   <div class="carrito-lateral">
      <button type="button" class="cerrar">
         <div class="icono"></div>
      </button>
      <h3>Mi lista de productos</h3>

      <ul class="lista-productos">
         <li class="producto-card">
            <button type="button" class="btn-cerrar"></button>
            <a href="/detalleProducto">
               <img src="/assets/img/producto-imagen-1.jpg" alt="Imagen del producto">
            </a>
            <h4 class="titulo">
               Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC
            </h4>
            <div class="cantidad-contenedor">
               <p>Cantidad</p>
               <div class="cantidad-input-contenedor">
                  <button type="button" class="resta">-</button>
                  <input type="text" min="1" max="100" class="input-cantidad" name="input-cantidad" value="1">
                  <button type="button" class="suma">+</button>
               </div>
            </div>
            <div class="precio-contenedor">
               <p>Total</p>
               <p class="precio-total">$ 750,00</p>
            </div>
         </li>
         <li class="producto-card">
            <button type="button" class="btn-cerrar"></button>
            <a href="/detalleProducto">
               <img src="/assets/img/producto-imagen-1.jpg" alt="Imagen del producto">
            </a>
            <h4 class="titulo">
               Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC
            </h4>
            <div class="cantidad-contenedor">
               <p>Cantidad</p>
               <div class="cantidad-input-contenedor">
                  <button type="button" class="resta">-</button>
                  <input type="text" min="1" max="100" class="input-cantidad" name="input-cantidad" value="1">
                  <button type="button" class="suma">+</button>
               </div>
            </div>
            <div class="precio-contenedor">
               <p>Total</p>
               <p class="precio-total">$ 750,00</p>
            </div>
         </li>
         <li class="producto-card">
            <button type="button" class="btn-cerrar"></button>
            <a href="/detalleProducto">
               <img src="/assets/img/producto-imagen-1.jpg" alt="Imagen del producto">
            </a>
            <h4 class="titulo">
               Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC
            </h4>
            <div class="cantidad-contenedor">
               <p>Cantidad</p>
               <div class="cantidad-input-contenedor">
                  <button type="button" class="resta">-</button>
                  <input type="text" min="1" max="100" class="input-cantidad" name="input-cantidad" value="1">
                  <button type="button" class="suma">+</button>
               </div>
            </div>
            <div class="precio-contenedor">
               <p>Total</p>
               <p class="precio-total">$ 750,00</p>
            </div>
         </li>
         <li class="producto-card">
            <button type="button" class="btn-cerrar"></button>
            <a href="/detalleProducto">
               <img src="/assets/img/producto-imagen-1.jpg" alt="Imagen del producto">
            </a>
            <h4 class="titulo">
               Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC
            </h4>
            <div class="cantidad-contenedor">
               <p>Cantidad</p>
               <div class="cantidad-input-contenedor">
                  <button type="button" class="resta">-</button>
                  <input type="text" min="1" max="100" class="input-cantidad" name="input-cantidad" value="1">
                  <button type="button" class="suma">+</button>
               </div>
            </div>
            <div class="precio-contenedor">
               <p>Total</p>
               <p class="precio-total">$ 750,00</p>
            </div>
         </li>
      </ul>
      <div class="codigo-descuento">
         <p>¿Tenés algun código de descuento?</p>
         <form action="/">
            <input type="text" placeholder="Ingresa el código">
            <input type="submit" value="Aplicar">
         </form>
      </div>
      <div class="costo-total">
         <p>Total productos</p>
         <p>$ 1.250,00</p>
      </div>
      <a href="/carrito" class="btn-comprar">Comprar</a>
   </div>

   <main>
      <section class="informacion">
         <ul class="encabezado-tags">
            <li class="link"><a href="">Datos de Contacto</a></li>
            <li>&#62;</li>
            <li class="link"><a href="">Datos de envío</a></li>
            <li>&#62;</li>
            <li class="link"><a href="">Pago</a></li>
         </ul>
         <div class="iniciar-sesion">
            <p>Si ya te registraste, inicia sesion y carga toda tu informacion de contacto.</p>
            <a href="/login">Iniciar sesion</a>
         </div>
         <form action="/" method="get" class="formulario-datos-contacto">
            <div class="email">
               <label for="email">Email</label>
               <input type="email" name="email" id="email" placeholder="Ingrese su Email">
               <input type="checkbox" name="suscribirse" id="chbx-susbribirse">
               <label for="chbx-susbribirse">Quiero recibir ofertas y promosiones en mi Email</label>
            </div>
            <div class="nombre">
               <label for="nombre">Nombre/s</label>
               <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre/s">
            </div>
            <div class="apellido">
               <label for="apellido">Apellido/s</label>
               <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido/s">
            </div>
            <div class="direccion">
               <label for="direccion">Dirección</label>
               <input type="text" name="direccion" id="direccion" placeholder="Ingrese su direccion">
            </div>
            <div class="piso">
               <label for="piso">Piso</label>
               <input type="text" name="piso" id="piso">
            </div>
            <div class="departamento">
               <label for="departamento">Depto.</label>
               <input type="text" name="departamento" id="departamento">
            </div>
            <div class="ciudad-barrio">
               <label for="ciudad-barrio">Ciudad y/o barrio</label>
               <input type="text" name="ciudad-barrio" id="ciudad-barrio" placeholder="Ingrese su ciudad o barrio">
            </div>
            <div class="codigo-postal">
               <label for="codigo-postal">Cod. Postal</label>
               <input type="text" name="codigo-postal" id="codigo-postal">
            </div>
            <div class="numero-cel">
               <label for="numero-cel">Número de celular</label>
               <input type="tel" name="numero-cel" id="numero-cel">
            </div>
            <div class="numero-tel-otro">
               <label for="numero-tel-otro">Número de teléfono u otro</label>
               <input type="tel" name="numero-tel-otro" id="numero-tel-otro">
            </div>
            <input type="submit" value="Continuar">
         </form>
      </section>

      <section class="resumen-compra">
         <button class="btn-editar-productos">Editar Productos</button>
         <article class="producto">
            <img src="/assets/img/producto-imagen-1.jpg" alt="/Titulo del producto/">
            <p class="titulo">Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</p>
            <p class="cantidad">Cantidad x <span class="numero">2</span></p>
            <p class="precio-unidad">$ 750,00</p>
            <p class="precio-total">$ 750,00</p>
         </article>
         <article class="codigo-descuento">
            <p>¿Tenés algun código de descuento?</p>
            <form action="/">
               <input type="text" placeholder="Ingresa el código">
               <input type="submit" value="Aplicar">
            </form>
         </article>
         <div class="resumen-costo">
            <p class="subtotal">Subtotal <span class="precio">$ 2.600,00</span></p>
            <p class="envio">Costo de Envío <span class="precio">en proceso...</span></p>
            <p class="precio-total">Total <span class="precio">$ 2.600,00</span></p>
         </div>
      </section>
   </main>

   <footer>
      <div class="max-width-container">
         <div class="suscripcion-contenedor">
            <h4>¡Suscribite totalmente <br /> gratis!</h4>
            <p>Y recibi nuestras ofertas y promociones todas las semanas</p>
            <form action="/">
               <input type="text" placeholder="Dejanos tu Email">
               <button type="submit">Suscribirse</button>
            </form>
         </div>
         <div class="contenido">
            <ul class="lista-categorias">
               <h4>Categorias</h4>
               <li><a href="/">Fideos / Cereales</a></li>
               <li><a href="/">Frutos secos</a></li>
               <li><a href="/">Jugos y bebidas</a></li>
               <li><a href="/">Infusiones</a></li>
            </ul>

            <ul class="lista-mapa-sitio">
               <h4>Explora</h4>
               <li><a href="/">Inicio</a></li>
               <li><a href="/">Categorias</a></li>
               <li><a href="/login">Login</a></li>
               <li><a href="/register">Registrate</a></li>
               <li><a href="/carrito">Carrito</a></li>
            </ul>

            <div class="logo-redes-contenedor">
               <img class="logo" src="/assets/img/logo-amarillo.svg" alt>
               <ul class="lista-redes">
                  <li><a href="/" class="facebook"></a></li>
                  <li><a href="/" class="instagram"></a></li>
                  <li><a href="/" class="twitter"></a></li>
               </ul>
            </div>
         </div>

         <p class="copyright">
            Copyright 2022 | Todos los derechos reservados Organicom S.A. | Av. Calle Street 321 |
            Capital Federal |
            Argentina
         </p>
      </div>
   </footer>
   <script src="/js/general.js"></script>
   <script src="/js/carrito.js"></script>
</body>

</html>