<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/css/detalleProducto.css">

   <title>Detalle del producto</title>
</head>

<body>
   <header>
      <a href="/" class="logo-link">
         <img class="logo" src="/assets/img/logo-verde.svg" alt="Logo principal">
      </a>
      <button type="button" class="btn-menu"><img src="/assets/img/menu-icono.svg"
            class="menu-icono" /><span>Categorias</span></button>
      <button type="button" class="btn-buscar active"><img src="/assets/img/lupa-icono.svg"
            class="lupa-icono" /></button>
      <button type="button" class="btn-cuenta"><img src="/assets/img/usuario-icono.svg" class="usuario-icono" /><span>Mi
            Cuenta</span></button>
      <button type="button" class="btn-carrito"><img src="/assets/img/carrito-icono.svg"
            class="carrito-icono" /></button>

      <nav class="categorias-contenedor">
         <div class="imagen-fondo frutos-secos"></div>
         <ul>
            <li><a href="./">Fideos / Cereales</a></li>
            <li><a href="./" data-nombre-categoria="frutos-secos">Frutos secos</a></li>
            <li><a href="./">Jugos y bebidas</a></li>
            <li><a href="./">Infusiones</a></li>
         </ul>
      </nav>
      <form action="/" method="GET" class="barra-busqueda">
         <input type="text" placeholder="Buscar producto">
      </form>
   </header>

   <main>
      MAIN
   </main>

   <footer>
      
   </footer>

</body>


</html>