<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("./partials/head") %>

   <link rel="stylesheet" href="/css/detalleProducto.css">
   <title>Detalle del producto</title>
</head>

<body class="detalle">

   <%- include("./partials/header") %>

   <%- include("./partials/carrito-lateral") %>

   <!-- ------ Main ------ -->

   <main class="grid-princpial">
      <section class="slider">
         <div class="flecha-izq"></div>
         <div class="flecha-der"></div>
         <img class="producto-imagen-portada" src="/assets/img/producto-imagen-1.jpg" alt="">
         <ul class="lista-imgs">
            <li><img src="/assets/img/producto-imagen-1.jpg" alt></li>
            <li><img src="/assets/img/producto-imagen-1.jpg" alt></li>
            <li><img src="/assets/img/producto-imagen-1.jpg" alt></li>
            <li><img src="/assets/img/producto-imagen-1.jpg" alt></li>
         </ul>
      </section>
      <!-- ------------- -->
      <section class="detalle-producto">
         <p class="categoria">Categorias: <a href="">Bebidas</a></p>
         <h1 class="titulo-producto">Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</h1>
         <div class="favorito-contenedor">
            <p class="estrellas"><span class="icono"></span>4.0</p>
            <p class="favorito"><span>Agregar a favoritos</span><span class="icono"></span></p>
         </div>
         <div class="precio-contenedor">
            <p class="precio-final">$ 716,00</p>
            <p class="precio-inicial"><span>$ 895,00</span> <span class="descuento">20% OFF!</span></p>
         </div>
         <div class="cantidad">
            <label for="input-cantidad">¿Cuantos queres llevar?</label>
            <div class="cantidad-input-contenedor">
               <button type="button" class="resta">-</button>
               <input type="text" max="100" id="input-cantidad" name="input-cantidad" value="1">
               <button type="button" class="suma">+</button>
            </div>
            <!-- <select name="contidad-select" id="contidad-select">
               <option value="1">1</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="10">10</option>
               <option value="20">20</option>
            </select> -->
         </div>
         <p>Métodos de pagos: </p>
         <ul class="lista-metodos-pago">
            <li><img title="Efectivo" src="/assets/img/efectivo.png" alt></li>
            <li><img title="Mercado Pago" src="/assets/img/merc-pago.png" alt></li>
            <li><img title="Visa" src="/assets/img/visa.png" alt></li>
            <li><img title="Master Card" src="/assets/img/mast-card.png" alt></li>
            <li><img title="American Express" src="/assets/img/amer-express.png" alt></li>
         </ul>
         <div class="btns-contenedor">
            <button type="button" class="btn-agregar-carrito">Agregar <span class="icono"></span></button>
            <button type="button" class="btn-comprar-ahora">Comprar ahora</button>
         </div>
      </section>
      <!-- ------------- -->
      <section class="detalle-texto">
         <h2>Detalles del producto</h2>
         <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero ipsa est in eligendi earum nam itaque,
            voluptatem reprehenderit quibusdam enim.
         </p>
         <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero ipsa est in eligendi earum nam itaque.
         </p>
         <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum, dolor sit </li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing.</li>
         </ul>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores laudantium omnis, nam maxime eos sed
            inventore aliquid saepe blanditiis odit est suscipit amet accusantium, ex accusamus repellendus. Molestias
            labore molestiae nulla, in, maxime veritatis aut enim asperiores iure, repellat quasi.
         </p>
      </section>
      <!-- ------------- -->
      <section class="descripcion-texto">
         <h2>Descripcion del producto</h2>
         <ul>
            <li>
               Lorem ipsum: dolor sit amet.
            </li>
            <li>
               Lorem ipsum: dolor sit amet.
            </li>
            <li>
               Lorem ipsum: dolor sit amet.
            </li>
            <li>
               Lorem ipsum: dolor sit amet.
            </li>
            <li>
               Lorem ipsum: dolor sit amet.
            </li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.
         </p>
      </section>
      <!-- ------------- -->
      <section class="comentarios">
         <h2>Reseñas</h2>
         <article class="comentario">
            <div class="cabecera">
               <p class="nombre-usuario">Usuario_2242</p>
               <p class="estrellas"><span class="icono"></span>4.0</p>
            </div>
            <p class="comentario-texto">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, odit
               praesentium! Culpa, quasi quod? Optio corporis voluptates in ea blanditiis eum a tempore recusanda.
            </p>
         </article>

         <article class="comentario">
            <div class="cabecera">
               <p class="nombre-usuario">Usuario_1342</p>
               <p class="estrellas"><span class="icono"></span>4.0</p>
            </div>
            <p class="comentario-texto">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, odit perspiciatis.
            </p>
         </article>
         <article class="comentario">
            <div class="cabecera">
               <p class="nombre-usuario">Usuario_1342</p>
               <p class="estrellas"><span class="icono"></span>4.0</p>
            </div>
            <p class="comentario-texto">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, odit perspiciatis.
            </p>
         </article>
         <article class="comentario">
            <div class="cabecera">
               <p class="nombre-usuario">Usuario_1342</p>
               <p class="estrellas"><span class="icono"></span>4.0</p>
            </div>
            <p class="comentario-texto">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, odit perspiciatis.
            </p>
         </article>
         <button type="button">Mostrar más</button>
      </section>
      <!-- ------------- -->
      <section class="recomendados">
         <div class="sticky-contenedor">
            <h2>Tambien te pueden interesar</h2>
            <div class="slider">
               <div class="flecha-izq"></div>
               <div class="flecha-der"></div>

               <article class="card">
                  <div class="card-header">
                     <img src="/assets/img/producto-imagen-1.jpg" alt>
                     <div class="favorito"></div>
                  </div>
                  <div class="card-body">
                     <a href="/products/detalleProducto">
                        <h3>Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</h3>
                        <p class="precio-inicial"><span>$ 716,00 </span><span class="descuento">20% OFF!</span></p>
                        <p class="precio-final">$ 895,00</p>
                        <p class="precio-secundario">$ 1.050,00 x 1Kg</p>
                     </a>
                     <div class="botones">
                        <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                     </div>
                  </div>
               </article>

               <article class="card">
                  <div class="card-header">
                     <img src="/assets/img/producto-imagen-1.jpg" alt>
                     <div class="favorito"></div>
                  </div>
                  <div class="card-body">
                     <a href="/products/detalleProducto">
                        <h3>Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</h3>
                        <p class="precio-inicial"><span>$ 716,00 </span><span class="descuento">20% OFF!</span></p>
                        <p class="precio-final">$ 895,00</p>
                        <p class="precio-secundario">$ 1.050,00 x 1Kg</p>
                     </a>
                     <div class="botones">
                        <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                     </div>
                  </div>
               </article>

               <article class="card">
                  <div class="card-header">
                     <img src="/assets/img/producto-imagen-1.jpg" alt>
                     <div class="favorito"></div>
                  </div>
                  <div class="card-body">
                     <a href="/products/detalleProducto">
                        <h3>Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</h3>
                        <p class="precio-inicial"><span>$ 716,00 </span><span class="descuento">20% OFF!</span></p>
                        <p class="precio-final">$ 895,00</p>
                        <p class="precio-secundario">$ 1.050,00 x 1Kg</p>
                     </a>
                     <div class="botones">
                        <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                     </div>
                  </div>
               </article>

               <article class="card">
                  <div class="card-header">
                     <img src="/assets/img/producto-imagen-1.jpg" alt>
                     <div class="favorito"></div>
                  </div>
                  <div class="card-body">
                     <a href="/products/detalleProducto">
                        <h3>Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC</h3>
                        <p class="precio-inicial"><span>$ 716,00 </span><span class="descuento">20% OFF!</span></p>
                        <p class="precio-final">$ 895,00</p>
                        <p class="precio-secundario">$ 1.050,00 x 1Kg</p>
                     </a>
                     <div class="botones">
                        <button class="btn-agregar" type="button">Agregar <span class="icono"></span></button>
                     </div>
                  </div>
               </article>
            </div>
         </div>
      </section>
   </main>

   <%- include("./partials/footer") %>

   <script src="/js/general.js"></script>
   <script src="/js/detalleProducto.js"></script>
</body>

</html>