<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrganiCom-Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/2086e27e93.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header>
        <a href="/" class="logo-link">
           <img class="logo" src="/assets/img/logo-verde.svg" alt="Logo principal">
        </a>
        <button type="button" class="btn-menu"><img src="/assets/img/menu-icono.svg"
              class="menu-icono" /><span>Categorias</span></button>
        <button type="button" class="btn-buscar active"><img src="/assets/img/lupa-icono.svg"
              class="lupa-icono" /></button>
        <button type="button" class="btn-cuenta"><img src="/assets/img/usuario-icono.svg" class="usuario-icono" /><span>Mi
              Cuenta</span></button>
        <button type="button" class="btn-carrito"><img src="/assets/img/carrito-icono.svg"
              class="carrito-icono" /></button>
  
        <nav class="categorias-contenedor">
           <div class="imagen-fondo frutos-secos"></div>
           <ul>
              <li><a href="./">Fideos / Cereales</a></li>
              <li><a href="./" data-nombre-categoria="frutos-secos">Frutos secos</a></li>
              <li><a href="./">Jugos y bebidas</a></li>
              <li><a href="./">Infusiones</a></li>
           </ul>
        </nav>
        <form action="/" method="GET" class="barra-busqueda">
           <input type="text" placeholder="Buscar producto">
        </form>
     </header>


    <main>
         <section class="banner">
            <h1>Comsume organico</h1>
            
            <img class="mockup" src="/assets/img/mockup.png" alt="">
         </section>
        <section class="carousel">
            <div class="carousel--container  " >
       
                <div class="a uno"></div>
                <div class="a dos"></div>
                <div  class="a tres"></div>
                <div class="a cuatro"></div>
              </div>   

        </section>

        <h3>Lo mas vendido</h3>
        <section class="masVendido ">
            
            <div class="carousel--container  card" >       
                <div class="a uno"></div>
                <div class="a dos"></div>
                <div  class="a tres"></div>
                <div class="a cuatro"></div>
            </div>             
        </section>

        <section class="seguinos">
           
            <p>Atencion al cliente : 0800-organic</p>
            <p>Seguinos en </p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </section>


        

        <section class="descuento">
            <article class="descuento--card">
                    <p>Descuento de algo</p>
            </article>
            <article class="descuento--card">
                <p>Descuento de algo</p>
            </article>
        </section>

        <section class="masVendido">

            <h3>Ofertas</h3>
            <div class="carousel--container  card" >       
                <div class="a uno"></div>
                <div class="a dos"></div>
                <div  class="a tres"></div>
                <div class="a cuatro"></div>
            </div>            
              
        </section>
  
    </main>

    <footer >
        <div class="max-width-container">
           <div class="suscripcion-contenedor">
              <h4>¡Suscribite totalmente <br /> gratis!</h4>
              <p>Y recibi nuestras ofertas y promociones todas las semanas</p>
              <form action="/">
                 <input type="text" placeholder="Dejanos tu Email">
                 <button type="submit">Suscribirse</button>
              </form>
           </div>
           <div class="contenido">
              <ul class="lista-categorias">
                 <h4>Categorias</h4>
                 <li><a href="/">Fideos / Cereales</a></li>
                 <li><a href="/">Frutos secos</a></li>
                 <li><a href="/">Jugos y bebidas</a></li>
                 <li><a href="/">Infusiones</a></li>
              </ul>
  
              <ul class="lista-mapa-sitio">
                 <h4>Explora</h4>
                 <li><a href="/">Inicio</a></li>
                 <li><a href="/">Categorias</a></li>
                 <li><a href="/">Login</a></li>
                 <li><a href="/">Registrate</a></li>
                 <li><a href="/">Carrito</a></li>
              </ul>
  
              <div class="logo-redes-contenedor">
                 <img class="logo" src="/assets/img/logo-amarillo.svg" alt>
                 <ul class="lista-redes">
                    <li><a href="/" class="facebook"></a></li>
                    <li><a href="/" class="instagram"></a></li>
                    <li><a href="/" class="twitter"></a></li>
                 </ul>
              </div>
           </div>
  
           <p class="copyright">
              Copyright 2022 | Todos los derechos reservados Organicom S.A. | Av. Calle Street 321 |
              Capital Federal |
              Argentina
           </p>
        </div>
     </footer>
    
</body>

</html>