<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("./partials/head", {title: "Inicio"}) %>

   <script src="https://kit.fontawesome.com/2086e27e93.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/home.css">

</head>

<body>
   <%- include("./partials/header") %>

   <%- include("./partials/carrito-lateral") %>

   <main>
      <!-- <section class="banner">
         <h1>Comsume organico</h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat cumque quae vel atque labore quam
            reiciendis, ad mollitia enim, aut dolore quidem animi. Enim, amet error dolorem rem necessitatibus
            perferendis?</p>
         <button class="banner--button">Ver mas</button>
         <img class="mockup" src="/assets/img/mockup.png" alt="">
      </section> -->

      <section class="banner">
         <img class="flecha-izq-banner" src="/assets/img/flecha-blanco.svg" alt="">
         <img class="flecha-der-banner" src="/assets/img/flecha-blanco.svg" alt="">

         <picture>
            <source media="(min-width:1024px)" srcset="/assets/img/banner-jugos-oferta-large.png">
            <source media="(min-width:768px)" srcset="/assets/img/banner-jugos-oferta-medium.png">
            <img src="/assets/img/banner-jugos-oferta-small.png" alt="">
         </picture>
      </section>

      <section class=" carousel">
         <div class="carousel--container  ">
            <div class="a uno"></div>
            <div class="a dos"></div>
            <div class="a tres"></div>
            <div class="a cuatro"></div>
         </div>
      </section>
      <section class="carousel">
         <div class="carousel--container  ">
            <div class="a uno"></div>
            <div class="a dos"></div>
            <div class="a tres"></div>
            <div class="a cuatro"></div>
         </div>
      </section>

      <section class="masVendido ">
         <a href="/adminProducts">ap</a>
         <h3>Lo mas vendido</h3>
         <div class="carousel--container  card">
            <div class="a uno"></div>
            <div class="a dos"></div>
            <div class="a tres"></div>
            <div class="a cuatro"></div>
         </div>
      </section>
      <section class="seguinos">
         <p>Atencion al cliente : 0800-organic</p>
         <p>Seguinos en </p>
         <ul class="lista-redes seguinos--redes">
            <li><a href="/" class="facebook"></a></li>
            <li><a href="/" class="instagram"></a></li>
            <li><a href="/" class="twitter"></a></li>
         </ul>
      </section>
      <section class="descuento">
         <article class="descuento--card">
            <p>Descuento de algo</p>
         </article>
         <article class="descuento--card">
            <p>Descuento de algo</p>
         </article>
      </section>
      <section class="masVendido">
         <h3>Ofertas</h3>
         <div class="carousel--container  card">
            <div class="a uno"></div>
            <div class="a dos"></div>
            <div class="a tres"></div>
            <div class="a cuatro"></div>
         </div>
      </section>

      <section class="contactanos">
         <article class="contactanos--article">
            <h4>Contactanos</h4>
            <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. illum quibusdam .</p>
            <div class="contactanos--contacto">
               <p>Teléfono</p>
               <p>contacto@organicom.com.ar</p>
               <p>Direccion</p>
               <ul class="lista-redes">
                  <li><a href="/" class="facebook"></a></li>
                  <li><a href="/" class="instagram"></a></li>
                  <li><a href="/" class="twitter"></a></li>
               </ul>
            </div>
         </article>
         <form class="formulario" action="/" method="post">
            <ul>
               <li>
                  <input type="text" placeholder="Nombre" name="user_name">
               </li>
               <li>
                  <input type="email" placeholder="E-mail" name="user_mail">
               </li>
               <li>
                  <textarea class="msg" placeholder="Deje su mensaje" name="user_message"></textarea>
               </li>
               <button type="submit">Enviar</button>
            </ul>

         </form>
      </section>

   </main>

   <%- include("./partials/footer") %>

   <script src="/js/general.js"></script>
</body>

</html>