<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("./partials/head",  {title: "Inciar sesión"}) %>

   <link rel="stylesheet" href="/css/login.css">
   <script src="https://kit.fontawesome.com/c798016428.js" crossorigin="anonymous"></script>
   <title>login</title>
</head>

<body class="login">
   <%- include("./partials/header") %>

   <%- include("./partials/carrito-lateral") %>

   <main>
      <form class="login-form" action="">
         <div class="encabezado">
            <h1 class="titulo">Iniciar sesion</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
         <div class="login-main">
            <label for="userName">Email o nombre de usuario</label>
            <input class="login_input-main" type="text" id="userName" name="userName"
               placeholder="Escribi tu email o el nombre de tu usuario">
         </div>
         <div class="login-main">
            <label for="password">Password</label>
            <input class="login_input-main" type="password" id="password" name="password"
               placeholder="Escribi tu password">

         </div>
         <div class="login-main recuerdame-box">
            <label for="recuerdame">
               <input type="checkbox" name="recuerdame" id="recuerdame" checked>
               Recuerdame
            </label>
            <a href="">Olvidé mi contraseña</a>
         </div>
         <div class="login-main button-login">
            <button type="submit">
               Iniciar sesión
            </button>
         </div>

         <p class="iniciar-sesion">¿No te registraste aún? <a href="/login">create una cuenta aquí</a></p>
      </form>
   </main>
   
   <%- include("./partials/footer") %>

   <script src="/js/general.js"></script>
</body>

</html>