<!DOCTYPE html>
<html lang="es">

<head>
   <%- include("./partials/head", {title: "Registro"}) %>

   <link rel="stylesheet" href="/css/register.css">
   <script src="https://kit.fontawesome.com/c798016428.js" crossorigin="anonymous"></script>
   <title>Register</title>
</head>

<body class="register">

   <%- include("./partials/header") %>

   <%- include("./partials/carrito-lateral") %>

   <main>
      <form class="register-form" action="">
         <div class="encabezado">
            <h1 class="titulo">Crear cuenta</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur animi est aliquam voluptatibus
               molestiae impedit.</p>
         </div>
         <div class="register-main">
            <label for="nombre">Nombre</label>
            <input class="register_input-main" type="text" id="nombre" name="nombre" placeholder="Escribi tu nombre">
         </div>
         <div class="register-main">
            <label for="email">Email</label>
            <input class="register_input-main" type="email" id="email" name="email" placeholder="Escribi tu email">
         </div>
         <div class="register-main">
            <label for="numer">Telefono/celular</label>
            <input class="register_input-main" type="number" id="number" name="number"
               placeholder="Escriba su numero(opcional).">
         </div>
         <div class="register-main">
            <label for="password">Password</label>
            <input class="register_input-main" type="password" id="password" name="password"
               placeholder="Escribi tu password">

         </div>
         <div class="register-main">
            <label for="terminos">
               <input type="checkbox" name="terminos" id="terminos">
               Acepto los terminos y condiciones
            </label>
         </div>
         <div class="register-main">
            <label for="publicidad">
               <input type="checkbox" name="publicidad" id="publicidad" checked>
               Quiero recibir ofertas y promociones
            </label>
         </div>
         <div class="register-main button-register">
            <button type="submit">
               Crear cuenta
            </button>
         </div>

         <p class="iniciar-sesion">¿ya tenes una cuenta? <a href="/login">Inicia sesion aquí</a></p>
      </form>
   </main>

   <%- include("./partials/footer") %>

   <script src="/js/general.js"></script>
</body>

</html>