<div class="modalBg"></div>

<div class="carrito-lateral">
   <button type="button" class="cerrar">
      <div class="icono"></div>
   </button>
   <h3>Mi lista de productos</h3>

   <ul class="lista-productos">
      <li class="producto-card">
         <button type="button" class="btn-cerrar"></button>
         <a href="/products/detalleProducto">
            <img src="/assets/img/producto-imagen-1.jpg" alt="Imagen del producto">
         </a>
         <h4 class="titulo">
            Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC
         </h4>
         <div class="cantidad-contenedor">
            <p>Cantidad</p>
            <div class="cantidad-input-contenedor">
               <button type="button" class="resta">-</button>
               <input type="text" min="1" max="100" class="input-cantidad" name="input-cantidad" value="1">
               <button type="button" class="suma">+</button>
            </div>
         </div>
         <div class="precio-contenedor">
            <p>Total</p>
            <p class="precio-total">$ 750,00</p>
         </div>
      </li>
      <li class="producto-card">
         <button type="button" class="btn-cerrar"></button>
         <a href="/products/detalleProducto">
            <img src="/assets/img/producto-imagen-1.jpg" alt="Imagen del producto">
         </a>
         <h4 class="titulo">
            Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC
         </h4>
         <div class="cantidad-contenedor">
            <p>Cantidad</p>
            <div class="cantidad-input-contenedor">
               <button type="button" class="resta">-</button>
               <input type="text" min="1" max="100" class="input-cantidad" name="input-cantidad" value="1">
               <button type="button" class="suma">+</button>
            </div>
         </div>
         <div class="precio-contenedor">
            <p>Total</p>
            <p class="precio-total">$ 750,00</p>
         </div>
      </li>
      <li class="producto-card">
         <button type="button" class="btn-cerrar"></button>
         <a href="/products/detalleProducto">
            <img src="/assets/img/producto-imagen-1.jpg" alt="Imagen del producto">
         </a>
         <h4 class="titulo">
            Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC
         </h4>
         <div class="cantidad-contenedor">
            <p>Cantidad</p>
            <div class="cantidad-input-contenedor">
               <button type="button" class="resta">-</button>
               <input type="text" min="1" max="100" class="input-cantidad" name="input-cantidad" value="1">
               <button type="button" class="suma">+</button>
            </div>
         </div>
         <div class="precio-contenedor">
            <p>Total</p>
            <p class="precio-total">$ 750,00</p>
         </div>
      </li>
      <li class="producto-card">
         <button type="button" class="btn-cerrar"></button>
         <a href="/products/detalleProducto">
            <img src="/assets/img/producto-imagen-1.jpg" alt="Imagen del producto">
         </a>
         <h4 class="titulo">
            Palmitos Enteros Siete Lagos Bajo en sodio x 800g SIN-TACC
         </h4>
         <div class="cantidad-contenedor">
            <p>Cantidad</p>
            <div class="cantidad-input-contenedor">
               <button type="button" class="resta">-</button>
               <input type="text" min="1" max="100" class="input-cantidad" name="input-cantidad" value="1">
               <button type="button" class="suma">+</button>
            </div>
         </div>
         <div class="precio-contenedor">
            <p>Total</p>
            <p class="precio-total">$ 750,00</p>
         </div>
      </li>
   </ul>
   <div class="codigo-descuento">
      <p>¿Tenés algun código de descuento?</p>
      <form action="/">
         <input type="text" placeholder="Ingresa el código">
         <input type="submit" value="Aplicar">
      </form>
   </div>
   <div class="costo-total">
      <p>Total productos</p>
      <p>$ 1.250,00</p>
   </div>
   <a href="/carrito" class="btn-comprar">Comprar</a>
</div>