<footer>
   <div class="max-width-container">
      <div class="suscripcion-contenedor">
         <h4>¡Suscribite totalmente <br /> gratis!</h4>
         <p>Y recibi nuestras ofertas y promociones todas las semanas</p>
         <form action="/">
            <input type="text" placeholder="Dejanos tu Email">
            <button type="submit">Suscribirse</button>
         </form>
      </div>
      <div class="contenido">
         <ul class="lista-categorias">
            <h4>Categorias</h4>
            <li><a href="/">Fideos / Cereales</a></li>
            <li><a href="/">Frutos secos</a></li>
            <li><a href="/">Jugos y bebidas</a></li>
            <li><a href="/">Infusiones</a></li>
         </ul>

         <ul class="lista-mapa-sitio">
            <h4>Explora</h4>
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Categorias</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registrate</a></li>
            <li><a href="/carrito">Carrito</a></li>
         </ul>

         <div class="logo-redes-contenedor">
            <img class="logo" src="/assets/img/logo-amarillo.svg" alt>
            <ul class="lista-redes">
               <li><a href="/" class="facebook"></a></li>
               <li><a href="/" class="instagram"></a></li>
               <li><a href="/" class="twitter"></a></li>
            </ul>
         </div>
      </div>

      <p class="copyright">
         Copyright 2022 | Todos los derechos reservados Organicom S.A. | Av. Calle Street 321 |
         Capital Federal |
         Argentina
      </p>
   </div>
</footer>