<header>
   <a href="/" class="logo-link">
      <img class="logo" src="/assets/img/logo-verde.svg" alt="Logo principal">
   </a>
   <button type="button" class="btn-menu">
      <img src="/assets/img/menu-icono.svg" class="menu-icono" />
      <span>Categorias</span>
   </button>
   <button type="button" class="btn-buscar">
      <img src="/assets/img/lupa-icono.svg" class="lupa-icono" />
   </button>
   <button type="button" class="btn-comprar-ahora">
         <a href="/products/listar">Todos los productos</a>
   </button>
   <% if(typeof session.user === "undefined") {%>
   <button type="button" class="btn-cuenta">
      <img src="/assets/img/usuario-icono.svg" class="usuario-icono" />
      <span>Mi Cuenta</span>
   </button>
   <% }else{ %>
   <button type="button" class="btn-cuenta">
      <img src="/assets/img/usuario-icono.svg" class="usuario-icono" />
      <span> <%= session.user.nombre %> </span>
   </button>
   <% } %>
   <button type="button" class="btn-carrito">
      <img src="/assets/img/carrito-icono.svg" class="carrito-icono" />
      <div class="cantidad">3</div>
   </button>
   <div class="modalBgMenu"></div>
   <nav class="categorias-contenedor">
      <div class="imagen-fondo cereales"></div>
      <div class="imagen-fondo frutos-secos"></div>
      <div class="imagen-fondo jugos"></div>
      <div class="imagen-fondo infusiones"></div>
      <ul>
         <li>
            <a class="link-categoria" href="/products/categorias?categoria=1">
               Frutos secos
            </a>
         </li>
         <li>
            <a class="link-categoria" href="/products/categorias?categoria=2">
               Infusiones
            </a>
         </li>
         <li>
            <a class="link-categoria" href="/products/categorias?categoria=3">
               Fideos / Cereales
            </a>
         </li>
         <li>
            <a class="link-categoria" href="/products/categorias?categoria=4">
               Jugos y bebidas
            </a>
         </li>
      </ul>
   </nav>
   <form action="/resultadoBusqueda" method="GET" class="barra-busqueda">
      <input type="text" name="keyword" id="keyword" placeholder="Busca un producto ...">
      <input type="submit" name="keyword">
   </form>
</header>