<div class="login-lateral">
   <button type="button" class="cerrar">
      <div class="icono"></div>
   </button>
   <div class="login">
      <form class="login-form" action="">
         <h1 class="titulo">Iniciar sesión</h1>
         <div class="login-main">
            <label for="userName">Email o nombre de usuario</label>
            <input class="login_input-main" type="text" id="userName" name="userName"
               placeholder="Escribi tu email o el nombre de tu usuario">
         </div>
         <div class="login-main">
            <label for="password">Password</label>
            <input class="login_input-main" type="password" id="password" name="password"
               placeholder="Escribi tu password">

         </div>
         <div class="login-main recuerdame-box">
            <label for="recuerdame">
               <input type="checkbox" name="recuerdame" id="recuerdame" checked>
               Recuerdame
            </label>
            <a href="">Olvidé mi contraseña</a>
         </div>
         <button type="submit">
            INICIAR SESIÓN
         </button>

         <p class="iniciar-sesion">¡Registrate si aún no tenes una cuenta!</p>
         <a href="/users/register">
            <button type="button" class="btn-registrate">REGISTRARSE</button>
         </a>
      </form>
   </div>
</div>