@import './general.css';

/* ------ Main ------ */

main {
   padding: 1rem;
}

/* ------ INFORMACION ------ */
.informacion {
   width: 60%;
   padding: 1rem;
}

/* ------ RESUMEN COMPRA ------ */
.resumen-compra {
   width: 40%;
   padding: 1rem;
   background-color: var(--fondo-input);
}

/* ------- MOBILE XL ------- */

@media screen and (min-width: 480px) {
}

/* ------- TABLET ------- */
@media screen and (min-width: 768px) {
}

/* ------- DESKTOP ------- */
@media screen and (min-width: 1024px) {
}

/* ------- DESKTOP L ------- */
@media screen and (min-width: 1400px) {
}
