@import './general.css';

/* ------ Main ------ */

main {
   display: flex;
   flex-direction: column;
   font-size: 0.9rem;
}

/* ------ INFORMACION ------ */
.informacion {
   padding: 3rem 1rem;
   width: 100%;
   max-width: 560px;
   margin: 0 auto;
}
.informacion .encabezado-tags {
   display: flex;
   align-items: center;
   justify-content: space-between;
   line-height: 1;
   margin: 1rem 0 0;
   max-width: 180px;
   padding: 0;
}
.informacion .encabezado-tags > .flecha {
   width: 0.5rem;
   height: 1rem;
   background: url(/assets/img/flecha-blanco.svg) no-repeat center;
   background-size: contain;
   filter: brightness(0);
}
.informacion .encabezado-tags > .link {
   color: #aaa;
   font-size: 0.9rem;
   font-weight: 400;
   width: max-content;
}
.informacion .encabezado-tags > .link.actual {
   color: var(--verde);
   font-weight: bolder;
}
.informacion .encabezado-tags a {
   display: block;
   width: max-content;
   color: inherit;
   font-weight: inherit;
   text-decoration: none;
}
.datos-contacto-box h2 {
   font-size: 1.2rem;
   font-weight: bolder;
   margin: 1rem 0 0.5rem;
}
.datos-contacto-box > .iniciar-sesion {
   margin: 0;
   font-size: 0.8rem;
}
.datos-contacto-box > .iniciar-sesion > p {
   margin: 0 0 1.5rem;
}
.formulario-datos-contacto {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
}
.formulario-datos-contacto > div > label {
   display: block;
   font-weight: bolder;
   margin: 0 0 0.3rem 0.5rem;
}
.formulario-datos-contacto > div input:not([type='checkbox']) {
   display: block;
   width: 100%;
   border: none;
   border-radius: 0.3rem;
   padding: 0.5rem;
   background-color: var(--fondo-input);
}
.formulario-datos-contacto > div input:focus-within {
   outline-color: var(--verde);
}
.formulario-datos-contacto > .email label[for='chbx-susbribirse'] {
   display: flex;
   align-items: center;
   gap: 0.2rem;
   line-height: 1;
   font-size: 0.67rem;
   color: var(--texto-gris);
   margin: 0.5rem 0 0;
   font-weight: 400;
}
.formulario-datos-contacto .email,
.formulario-datos-contacto .nombre,
.formulario-datos-contacto .apellido,
.formulario-datos-contacto .direccion,
.formulario-datos-contacto .ciudad-barrio,
.formulario-datos-contacto .codigo-postal,
.formulario-datos-contacto .numero-cel,
.formulario-datos-contacto .numero-tel-otro,
.formulario-datos-contacto input[type='submit'] {
   grid-column: 1/3;
}
.formulario-datos-contacto > input[type='submit'] {
   background-color: var(--amarillo);
   color: var(--verde);
   padding: 0.7rem 1.7rem;
   font-weight: bolder;
   border: none;
   margin-inline-start: auto;
   display: block;
   width: max-content;
   max-width: 200px;
   border-radius: 0.3rem;
}

/* ------ RESUMEN COMPRA ------ */
.resumen-compra {
   order: -1;

   background-color: hsl(0deg 0% 98%);
   border-bottom: 1px solid var(--borde-gris-claro);
}
.resumen-compra .max-width-box {
   max-width: 560px;
   margin: 0 auto;
}
.resumen-compra .encabezado {
   border-top: 1px solid var(--borde-gris-claro);
   /* border-bottom: 1px solid var(--borde-gris-claro); */
   padding: 1rem 0.7rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.resumen-compra .encabezado .icono-carrito {
   width: 1.3rem;
   height: 1.1rem;
   background: url(/assets/img/carrito-icono.svg) no-repeat center;
   background-size: contain;
   margin: 0 1rem 0 0;
}
.resumen-compra .encabezado .ver-ocultar {
   font-size: clamp(0.75rem, 4vw, 0.9rem);
   font-weight: bolder;
   display: flex;
   align-items: center;
   letter-spacing: -0.3px;
   width: max-content;
   margin: 0;
}
.resumen-compra .encabezado .ver-ocultar::after {
   content: '';
   display: block;
   width: 0.6rem;
   height: 1rem;
   background: url(/assets/img/flecha-blanco.svg) no-repeat center;
   background-size: contain;
   filter: brightness(0);
   transform: rotate(90deg);
   margin: 0 0 0 1rem;
   transition: transform 0.5s ease;
}
.resumen-compra .encabezado .ver-ocultar.show::after {
   transform: rotate(270deg);
}
.resumen-compra .encabezado .precio-total {
   font-weight: bolder;
   font-size: 1.2rem;
   margin: 0;
   margin-inline-start: auto;
}
.resumen-compra .cuerpo {
   height: 0;
   overflow: hidden;
   transition: height 0.5s ease;
}
.resumen-compra .cuerpo .cuerpo-height {
   padding: 1.5rem 1rem;
}
.resumen-compra .btn-editar-productos {
   display: block;
   background-color: var(--fondo-blanco);
   border: 2px solid var(--amarillo);
   border-radius: 0.3rem;
   color: var(--verde);
   padding: 0.3rem 0.4rem;
   width: max-content;

   margin-inline-start: auto;
   font-size: 0.75rem;
   font-weight: bolder;
}
.resumen-compra .producto {
   display: grid;
   grid-template-columns: auto auto auto;
   align-items: end;
   column-gap: 0.5rem;
   padding: 1rem 0;
   border-bottom: 1px solid var(--borde-gris-claro);
}
.resumen-compra .producto p {
   margin: 0;
   font-size: 0.8rem;
   color: var(--texto-gris-claro);
}
.resumen-compra .producto .imagen {
   grid-column: 1/2;
   grid-row: 1/3;
   width: 60px;
   height: 60px;
   object-fit: cover;
   border-radius: 0.5rem;
   box-shadow: 0 0 0.2rem hsl(0deg 0% 0% / 10%);
}
.resumen-compra .producto .titulo {
   color: #000;
   font-weight: bolder;
   font-size: 0.8rem;
   grid-column: 2/3;
   grid-row: 1/2;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.resumen-compra .producto .cantidad {
   grid-column: 2/3;
   grid-row: 2/3;
}
.resumen-compra .producto .precio-unidad {
   width: max-content;

   margin-inline-start: auto;
}
.resumen-compra .producto .precio-total {
   font-weight: bolder;
   color: #000;
   width: max-content;
   margin-inline-start: auto;
}

.resumen-compra .codigo-descuento {
   max-width: 400px;
   width: 80%;
   margin: 0 auto;
   font-size: 0.7rem;
}
.resumen-compra .codigo-descuento p {
   text-align: center;
}
.resumen-compra .codigo-descuento form {
   display: flex;
   gap: 0.5rem;
   justify-content: space-between;
}
.resumen-compra .codigo-descuento form > input[type='text'] {
   background-color: var(--fondo-blanco);
   border: none;
   border-radius: 0.3rem;
   padding: 0.5rem;
   width: 100%;
}
.resumen-compra .codigo-descuento form > input[type='text']:focus-within {
   outline-color: var(--verde);
}
.resumen-compra .codigo-descuento form > input[type='submit'] {
   cursor: pointer;
   width: 40%;
   border: none;
   background-color: #fff;
   border: 2px solid var(--amarillo);
   border-radius: 0.3rem;
   color: var(--verde);
   font-weight: bolder;
   font-size: 0.7rem;
}
.resumen-compra .resumen-costo {
   margin: 2rem 0 0;
   padding: 0 1rem;
}
.resumen-compra .resumen-costo p {
   display: flex;
   justify-content: space-between;
   color: var(--texto-gris-claro);
   margin: 0 0 0.3rem;
   font-size: 0.8rem;
}
.resumen-compra .resumen-costo .precio-total {
   margin: 1rem 0 0;
   font-size: 1.3rem;
   font-weight: bolder;
   color: #000;
   padding: 0.5rem 0 0;
   border-top: 1px solid var(--borde-gris-claro);
}

/* ------- MOBILE XL ------- */

@media screen and (min-width: 480px) {
   .formulario-datos-contacto .ciudad-barrio {
      grid-column: 1/2;
   }
   .formulario-datos-contacto .codigo-postal {
      grid-column: 2/3;
   }
}

/* ------- TABLET ------- */
@media screen and (min-width: 768px) {
   .formulario-datos-contacto {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   .formulario-datos-contacto .email {
      grid-column: 1/5;
   }
   .formulario-datos-contacto .nombre {
      grid-column: 1/3;
   }
   .formulario-datos-contacto .apellido {
      grid-column: 3/5;
   }
   .formulario-datos-contacto .ciudad-barrio {
      grid-column: 1/4;
   }
   .formulario-datos-contacto .codigo-postal {
      grid-column: 4/5;
   }
   .formulario-datos-contacto .numero-cel {
      grid-column: 1/3;
   }
   .formulario-datos-contacto .numero-tel-otro {
      grid-column: 3/5;
   }
   .formulario-datos-contacto > input[type='submit'] {
      grid-column: 1/5;
   }
}

/* ------- DESKTOP ------- */
@media screen and (min-width: 1024px) {
   main {
      flex-direction: row;
   }
   .informacion {
      width: 50%;
      max-width: 500px;
      margin: 0 2rem 0 auto;
      /* padding: 3rem 1rem; */
   }
   .resumen-compra {
      width: 50%;
      order: initial;
      border-left: 1px solid var(--borde-gris-claro);
   }
   .resumen-compra .encabezado {
      display: none;
   }
   .resumen-compra .cuerpo {
      height: auto;
   }
   .resumen-compra .max-width-box {
      max-width: 400px;
      margin: 0 0 0 2rem;
   }
   .carrito footer {
      margin-top: 0;
   }
}

/* ------- DESKTOP L ------- */
@media screen and (min-width: 1400px) {
}
