/* ------ Header ------ */

header {
    position: relative;
    display: grid;
    grid-template-columns: minmax(80px, 130px) repeat(4, auto);
    justify-content: space-between;
    align-items: center;
    gap: 2%;
 
    padding: 1rem 5%;
    border-bottom: 2px solid #eee;
 }
 
 .logo {
    width: 100%;
 }
 
 header button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    height: fit-content;
    cursor: pointer;
 
    min-width: 2.5rem;
    min-height: 2.5rem;
 
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 header button.active {
    background-color: #eee;
 }
 
 header button span {
    display: none;
 }
 
 .menu-icono,
 .carrito-icono,
 /* .lupa-icono, */
 .usuario-icono {
    width: 1.5rem;
 }
 
 nav.categorias-contenedor {
    position: absolute;
    z-index: 500;
    top: 100%;
    left: 0;
 
    opacity: 0;
    visibility: hidden;
 
    width: 100%;
    padding: 0 8%;
    background-color: var(--verde-fondo);
 
    transition: 0.3s ease;
    transition-property: opacity, visibility;
 }
 
 nav.categorias-contenedor ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
 }
 
 nav.categorias-contenedor a {
    display: inline-block;
    text-align: center;
 
    color: var(--texto-blanco);
    text-decoration: none;
 
    padding: 1rem 0;
 }
 
 .btn-menu:hover ~ nav.categorias-contenedor {
    opacity: 1;
    visibility: visible;
 }
 
 .barra-busqueda {
    width: 100%;
    padding: 1rem 0 0;
 
    grid-column: 1 / -1;
 }
 
 .barra-busqueda input {
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--fondo-input);
    padding: 0.5rem 1rem;
 
    transition: box-shadow 0.3s ease;
 }
 
 .barra-busqueda input:focus-within {
    outline: none;
    box-shadow: 0 0 0.1rem 0.2rem var(--verde);
 }