@import "./general.css";

 .banner{
  height: 75vh ;
  background: #121212;
  display: block;
  position: relative;
  color: var(--texto-blanco);
  justify-content: center;
}
.banner .banner--button{
  background: var(--amarilo);
  border: none;
  border-radius: 5px;
  color: var(--verde);
  cursor: pointer;
  position: absolute;
  left: 60%;
  bottom: 40%;
  width: 5em;
  height: 2em;
  z-index: 20;
  transition: all 1.5s;
}
.banner .banner--button:hover{
  background:  #ffca1d00;
  border-right: 2px solid var(--verde);
  border-bottom: 2px solid var(--verde);
  color: var(--amarilo);

}
.banner h1{
 margin: 0 ;
 padding: 2rem;
 color: var(--amarilo);

}
.banner p{
 padding: 0 2rem;
 position: relative;
 z-index: 10;
}
 .banner .mockup{
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: .5rem; 
    right: 0;
    opacity: 0.5;
    
 }

.masVendido .card {
  height: 200px;
  margin: 25px 10%;
  padding: 10px;
  width: 80%;
  border: 1px solid #88888886;
  border-radius: 10px;
  box-shadow: 5px 2px 10px 2px #888888bb;
}

.masVendido .card .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.masVendido .card .imgBox img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.masVendido .card .cardText {
  margin-top: 5px;
  font-size: 10px;
  margin-bottom: 10px;
}

.seguinos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--verde);
  font-size: 14px;
}

.seguinos p {
  margin: 10px;
  color: var(--crema);
}

.seguinos--redes {
 display: flex;
 gap: 10px;
 
}
.seguinos--redes .facebook {
  animation: redes 3s infinite;
 }
 .seguinos--redes .instagram{
  animation: redes 3s .3s infinite;
 }
 .seguinos--redes .twitter{
  animation: redes 3s .5s infinite;
 }
@keyframes redes{
  0%{transform:translateY(0px) ; }
  50%{transform: translateY(15px);}
  100%{transform: translateY(0px);}
}

.carousel--container { 
  display: flex;
  overflow: auto;
  width: 100%;
  height: 300px;
  flex-flow: row nowrap;
  margin-top: 20px;
  scroll-snap-type: x mandatory;
}
.carousel--container .a {
  width: 100%;
  height: 100%;
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  background-size: 100%;
  background-repeat: no-repeat;
}
.carousel--container .uno {
  background-image: url("/assets/img/frutasVerduras.jpg");  
}
.carousel--container .dos {
  background-image: url(/assets/img/cerealesfondo.jpg);  
}
.carousel--container .tres {
  background-image: url("/assets/img/jugos.jpg");
}
.carousel--container .cuatro {
  background-image: url("/assets/img/pastaseca.jpeg");
}
.descuento {
  display: flex;
  flex-wrap: wrap;
   justify-content: center;
}
.descuento--card {
  border-radius: 10px; 
  border: 1px solid var(--texto-gris);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  height: 200px;
  width: 300px;
  margin: 20px 10px;
  padding: 20% 0;
  text-align: center;   
}
.contactanos{
  height: 300px;
  background: url(/assets/img/cerealesfondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 130px 65px 35px rgba(0, 0, 0, 0.808) inset; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.contactanos h4{
  color: var(--amarilo);
  font-size: 1.5rem;
}
.contactanos .lorem{
  width: 200px;
  color: var(--texto-gris);
}
.contactanos .lista-redes{
  display: flex;  
}
.contactanos .lista-redes li{
  padding: 1rem;
}
.contactanos--contacto{
  margin-top: 20px;
color: var(--texto-blanco) ;
  font-size: 14px;
}
.contactanos--article{
  width: 250px;
  padding: 1rem;
  background: #12121254;
}

.formulario{
  background: #e8e8cc7c;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  font-size: .7rem; 
  width: 150px;    
}

.formulario input{
  width: 90%;  
  margin:20px  5%;
  border-radius: 5px;
  border: none;  
  border-bottom: 2px solid var(--texto-gris);
  background: none;  
}
.formulario input:focus-within {
  outline: none;
}
.formulario input::placeholder, .msg::placeholder{
  color: var(--verde-fondo);
}

.formulario .msg{
  width: 90%;
  height: 2rem;
  margin-left: 5%;
  border-radius: 5px;
  border: none;
  background: none;
  border-bottom: 2px solid var(--texto-gris);
}
.formulario .msg:focus-within {
  outline: none;
}
.formulario button{
  color: var(--verde);
  width: 50%;
  height: 1.5rem;
  margin-left: 25%;
  margin-top: 15px;
  background: var(--amarilo);
  border: none;
  border-radius: 5px;
  transition: all .5s;
  
  
}
.formulario button:hover{
  background:  #ffca1d00;
  border-right: 2px solid var(--verde);
  border-bottom: 2px solid var(--verde);
  

}

@media (min-width: 768px) {
  .header .header--nav {
    height: 60px;
  }
  .banner{
    padding-left: 20%;
  }
  .banner h1{ 
    font-size: 42px;
  }
  .banner p{
    width: 300px;    
  }
  .banner .mockup{
    height: 400px;
    width: 100%;  
  }
  .carousel {
    height: 400px;
  }
  .carousel .carousel--container {
    margin-top: 20px;
    
  }
  h3 {
    font-size: 34px;
  }
  .masVendido {
    height: 400px;
  }
  .masVendido .card {
    height: 350px;
  }
  .seguinos {
    height: 150px;
    font-size: 24px;
    
  }
  .descuento .descuento--card {
    height: 300px;
    width: 500px;
    margin: 10px 10px;
    font-size: 34px;
    padding: 30px;
  }

  .formulario{
    width: 200px;
    height: 250px;
    padding: 10px 0;
  
  }
  .contactanos h4{
    font-size: 38px;
  }
 
  .formulario input{
    height: 30px;
  }


  
   .suscripcion--form input{
      height: 40px;
      
   }
   .suscripcion--form button{
   width: 80px;
   height: 30px;
   font-size: 24px;
   }
}

@media (min-width : 992px){
}
