@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:ital,wght@0,700;1,100&display=swap");
@import './variables.css';
@import './general.css';

:root {
   --amarilo: #ffcc1d;
   --verde: #116530;
   --verde-fondo: #0b4619;
   --crema: #e8e8cc;

   --texto-blanco: #fff;
   --texto-gris: #888;

   --borde-gris-claro: #ccc;

   --fondo-pagina: #fff;
   --fondo-input: #f5f5f5;
   --rojo-error: #de2121;
}





* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

header {
    position: relative;
    display: grid;
    grid-template-columns: minmax(80px, 130px) repeat(4, auto);
    justify-content: space-between;
    align-items: center;
    gap: 2%;
 
    padding: 1rem 5%;
    border-bottom: 2px solid #eee;
 }
 .logo {
    width: 100%;
 }
 
 header button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    height: fit-content;
    cursor: pointer;
 
    min-width: 2.5rem;
    min-height: 2.5rem;
 
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 header button.active {
    background-color: #eee;
 }
 
 header button span {
    display: none;
 }
 
 .menu-icono,
 .carrito-icono,
 /* .lupa-icono, */
 .usuario-icono {
    width: 1.5rem;
 }
 
 nav.categorias-contenedor {
    position: absolute;
    z-index: 500;
    top: 100%;
    left: 0;
 
    opacity: 0;
    visibility: hidden;
 
    width: 100%;
    padding: 0 8%;
    background-color: var(--verde-fondo);
 
    transition: 0.3s ease;
    transition-property: opacity, visibility;
 }
 
 nav.categorias-contenedor ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
 }
 
 nav.categorias-contenedor a {
    display: inline-block;
    text-align: center;
 
    color: var(--texto-blanco);
    text-decoration: none;
 
    padding: 1rem 0;
 }
 
 .btn-menu:hover ~ nav.categorias-contenedor {
    opacity: 1;
    visibility: visible;
 }
 
 .barra-busqueda {
    width: 100%;
    padding: 1rem 0 0; 
    grid-column: 1 / -1;
 }
 
 .barra-busqueda input {
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--fondo-input);
    padding: 0.5rem 1rem; 
    transition: box-shadow 0.3s ease;
 }
 
 .barra-busqueda input:focus-within {
    outline: none;
    box-shadow: 0 0 0.1rem 0.2rem var(--verde);
 }
 
 
 .banner{
  height: 75vh ;
  background: #121212;
  display: block;
  position: relative;
  color: var(--texto-blanco);
  justify-content: center;
}
.banner .banner--button{
  background: var(--amarilo);
  border: none;
  border-radius: 5px;
  color: var(--verde);
  cursor: pointer;
  position: absolute;
  left: 60%;
  bottom: 40%;
  width: 5em;
  height: 2em;
  z-index: 20;
  transition: all 1.5s;
}
.banner .banner--button:hover{
  background:  #ffca1d00;
  border-right: 2px solid var(--verde);
  border-bottom: 2px solid var(--verde);
  color: var(--amarilo);

}
.banner h1{
 margin: 0 ;
 padding: 2rem;
 color: var(--amarilo);

}
.banner p{
 padding: 0 2rem;
 position: relative;
 z-index: 10;
}
 .banner .mockup{
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: .5rem; 
    right: 0;
    opacity: 0.5;
    
 }

.masVendido .card {
  height: 200px;
  margin: 25px 10%;
  padding: 10px;
  width: 80%;
  border: 1px solid #88888886;
  border-radius: 10px;
  box-shadow: 5px 2px 10px 2px #888888bb;
}

.masVendido .card .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.masVendido .card .imgBox img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.masVendido .card .cardText {
  margin-top: 5px;
  font-size: 10px;
  margin-bottom: 10px;
}

.seguinos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--verde);
  font-size: 14px;
}

.seguinos p {
  margin: 10px;
  color: var(--crema);
}

.seguinos--redes {
 display: flex;
 gap: 10px;
 
}
.seguinos--redes .facebook {
  animation: redes 3s infinite;
 }
 .seguinos--redes .instagram{
  animation: redes 3s .3s infinite;
 }
 .seguinos--redes .twitter{
  animation: redes 3s .5s infinite;
 }
@keyframes redes{
  0%{transform:translateY(0px) ; }
  50%{transform: translateY(15px);}
  100%{transform: translateY(0px);}
}

.carousel--container { 
  display: flex;
  overflow: auto;
  width: 100%;
  height: 300px;
  flex-flow: row nowrap;
  margin-top: 20px;
  scroll-snap-type: x mandatory;
}
.carousel--container .a {
  width: 100%;
  height: 100%;
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  background-size: 100%;
  background-repeat: no-repeat;
}
.carousel--container .uno {
  background-image: url("/assets/img/frutasVerduras.jpg");  
}
.carousel--container .dos {
  background-image: url(/assets/img/cerealesfondo.jpg);  
}
.carousel--container .tres {
  background-image: url("/assets/img/jugos.jpg");
}
.carousel--container .cuatro {
  background-image: url("/assets/img/pastaseca.jpeg");
}
.descuento {
  display: flex;
  flex-wrap: wrap;
   justify-content: center;
}
.descuento--card {
  border-radius: 10px; 
  border: 1px solid var(--texto-gris);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  height: 200px;
  width: 300px;
  margin: 20px 10px;
  padding: 20% 0;
  text-align: center;   
}
.contactanos{
  height: 300px;
  background: url(/assets/img/cerealesfondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 130px 65px 35px rgba(0, 0, 0, 0.808) inset; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.contactanos h4{
  color: var(--amarilo);
  font-size: 1.5rem;
}
.contactanos .lorem{
  width: 200px;
  color: var(--texto-gris);
}
.contactanos .lista-redes{
  display: flex;  
}
.contactanos .lista-redes li{
  padding: 1rem;
}
.contactanos--contacto{
  margin-top: 20px;
color: var(--texto-blanco) ;
  font-size: 14px;
}
.contactanos--article{
  width: 250px;
  padding: 1rem;
  background: #12121254;
  
  
}

.formulario{
  background: #e8e8cc7c;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  font-size: .7rem; 
  width: 150px;    

}

.formulario input{
  width: 90%;  
  margin:20px  5%;
  border-radius: 5px;
  border: none;  
  border-bottom: 2px solid var(--texto-gris);
  background: none;  
}
.formulario input:focus-within {
  outline: none;
}
.formulario input::placeholder, .msg::placeholder{
  color: var(--verde-fondo);
}

.formulario .msg{
  width: 90%;
  height: 2rem;
  margin-left: 5%;
  border-radius: 5px;
  border: none;
  background: none;
  border-bottom: 2px solid var(--texto-gris);
}
.formulario .msg:focus-within {
  outline: none;
}
.formulario button{
  color: var(--verde);
  width: 50%;
  height: 1.5rem;
  margin-left: 25%;
  margin-top: 15px;
  background: var(--amarilo);
  border: none;
  border-radius: 5px;
  transition: all .5s;
  
  
}
.formulario button:hover{
  background:  #ffca1d00;
  border-right: 2px solid var(--verde);
  border-bottom: 2px solid var(--verde);
  

}


footer .max-width-container {
  width: 100%;
  background: #116530;
  text-align: center;
  padding-top: 20px;
}

.suscripcion-contenedor h4 {
  /* font-size: 1.6rem; */
  font-size: calc(0.5rem + 4.5vw);
  color: var(--amarilo);
  margin-bottom: 5px;
 
}
.suscripcion-contenedor p {
  font-size: 0.9rem;
  margin: 1rem;
  color: var(--crema);
}
.suscripcion-contenedor form {
  margin-left: 10% ;
  background-color: var(--fondo-input);
  border-radius: 0.2rem;
  padding: 0.3rem;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suscripcion-contenedor form input {
  padding: 0 0.2rem;
  border: none;
  background-color: transparent;
  font-size: 0.85rem;
}
.suscripcion-contenedor form input:focus-within {
  outline: none;
}
.suscripcion-contenedor form button {
  padding: 0.3rem;
  background-color: var(--amarilo);
  font-size: 0.75rem;
  border-radius: 0.2rem;
  border: none;
  color: var(--verde);
  font-weight: bolder;
  transition: all .5s;
}
.suscripcion-contenedor form button:hover{
  background:  #ffca1d00;
  border-right: 2px solid var(--verde);
  border-bottom: 2px solid var(--verde);
  

}

.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

.contenido h4 {
  margin: 0 0 0.3rem;
  font-size: 1rem;
  color: var(--amarilo);
}

.lista-categorias {
  grid-column: 2/ 3;
  grid-row: 1 / 2;
  list-style: none;
  text-align: right;
  
}
.lista-categorias a,
.lista-mapa-sitio a {
  font-size: 18px;
  color: var(--texto-blanco);
  text-decoration: none;
  font-weight: normal;
  line-height: 1.7;
}

.lista-mapa-sitio {
  grid-column: 1 / 2;
  list-style: none;
  text-align: left;
}

.logo-redes-contenedor {
  grid-column: 1 / -1;
}

.logo-redes-contenedor .logo {
  display: block;
  width: 90%;
  margin: 0 auto 1rem;
  max-width: 200px;
}

.logo-redes-contenedor .lista-redes {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.lista-redes a.facebook,
.lista-redes a.instagram,
.lista-redes a.twitter {
  display: block;
  width: 1.5rem;
  height: 1.5rem;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.lista-redes a.facebook {
  background-image: url(/assets/img/facebook-logo.svg);
}
.lista-redes a.instagram {
  background-image: url(/assets/img/instagram-logo.svg);
}
.lista-redes a.twitter {
  background-image: url(/assets/img/twitter-logo.svg);
}

footer .copyright {
  font-size: 0.6rem;
  
  
}


@media (min-width: 768px) {
  .header .header--nav {
    height: 60px;
  }
  .banner{
    padding-left: 20%;
  }
  .banner h1{ 
    font-size: 42px;
  }
  .banner p{
    width: 300px;    
  }
  .banner .mockup{
    height: 400px;
    width: 100%;  
  }
  .carousel {
    height: 400px;
  }
  .carousel .carousel--container {
    margin-top: 20px;
    
  }
  h3 {
    font-size: 34px;
  }
  .masVendido {
    height: 400px;
  }
  .masVendido .card {
    height: 350px;
  }
  .seguinos {
    height: 150px;
    font-size: 24px;
    
  }
  .descuento .descuento--card {
    height: 300px;
    width: 500px;
    margin: 10px 10px;
    font-size: 34px;
    padding: 30px;
  }

  .formulario{
    width: 200px;
    height: 250px;
    padding: 10px 0;
  
  }
  .contactanos h4{
    font-size: 38px;
  }
 
  .formulario input{
    height: 30px;
  }


   .lista-mapa-sitio, .lista-categorias{
    text-align: center;  
    font-size: 18px;
  }
.suscripcion--form input{
    height: 40px;
   
}
.suscripcion--form button{
  width: 80px;
  height: 30px;
  font-size: 24px;
}
  .lista-categorias h4 ,.lista-mapa-sitio h4{
    font-size: 32px;
  }
}

@media (min-width : 992px){


.formulario{
   
   
  
  }

}
