@import '../general.css';

.btn-agregar-nuevo {
   padding: 0.5rem 1rem;
   background-color: var(--verde);
   color: var(--texto-blanco);
   display: inline-block;
   text-decoration: none;
   margin: 1rem 0 0 8rem;
   border-radius: 0.4rem;
}

.lista-productos-grid a {
   text-decoration: none;
}

.lista-productos-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(auto, 170px));
   justify-content: center;
   gap: 1rem;

   max-width: 1000px;
   margin: 2rem auto;
   padding: 0 1rem;
}

.card h3 {
   font-size: 0.95rem;
   margin: 0 0 0.5rem;
   letter-spacing: -0.3px;

   line-height: 1.2;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   color: #000;
   height: 36px;
}

.card {
   width: 100%;

   box-shadow: 0 0 0.2rem var(--borde-gris-claro);
   border-radius: 0.5rem;
   color: var(--texto-gris);
}
.card-header {
   position: relative;
}
.card-header .favorito {
   position: absolute;
   top: 1rem;
   right: 1rem;
   width: 1.5rem;
   height: 1.5rem;
   cursor: pointer;
   background: url(/assets/img/favorito-outline-icono.svg) no-repeat center;
   background-size: contain;
}
.card-header .favorito.active {
   background-image: url(/assets/img/favorito-solid-icono.svg);
}
.card-header img {
   display: block;
   margin: 0 auto;
   width: 100px;
   height: 150px;
   padding: 1rem 0;
   object-fit: cover;
}

.card-body {
   padding: 0.5rem;
   text-align: center;
   /* height: 50%; */
}
.card-body a {
   font-weight: initial;
   text-decoration: none;
   color: var(--texto-gris);
}
.card-body .precio-inicial {
   height: 22px;
}

.card-body .precio-inicial span:first-child {
   font-size: 0.9rem;
   margin-bottom: 0;

   text-decoration: line-through;
}
.card-body .precio-inicial .descuento {
   background-color: var(--verde-fondo);
   padding: 0.1rem 0.2rem;
   font-weight: bolder;
   color: var(--texto-blanco);
   font-size: 0.8rem;
}
.card-body .precio-inicial {
   margin: 0;
}
.card-body .precio-final {
   font-size: 1.3rem;
   font-weight: bolder;
   min-height: 1rem;
   margin: 0.5rem 0;
   color: var(--verde);
   line-height: 1;
}
.card-body .categoria {
   margin: 0 0 1rem;
   font-size: 0.85rem;
   height: 15.5px;
   color: var(--verde);
   display: inline-block;
   text-decoration: underline;
}

.card-body .btn-editar {
   background-color: var(--amarillo);
   font-size: 0.9rem;
   color: var(--verde);
   font-weight: bolder;
   padding: 0.6rem 0;
   display: block;
   margin: 0 auto;
   border: none;
   border-radius: 0.3rem;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 0.5rem;
   cursor: pointer;
}
.card-body .btn-editar .icono {
   display: block;
   background: url(/assets/img/editar-icono.svg) no-repeat center;
   background-size: contain;
   width: 1rem;
   height: 1rem;

   filter: invert(28%) sepia(7%) saturate(5768%) hue-rotate(93deg)
      brightness(98%) contrast(87%);
}

/* ------- TABLET ------- */
@media screen and (min-width: 768px) {
   .card {
      transition: box-shadow 0.3s ease;
   }
   .card:hover {
      box-shadow: 0 0 0.4rem rgba(34, 34, 34, 0.4);
   }
}
