@import '../general.css';

main {
   padding: 1rem;
   max-width: 600px;
   margin: 0 auto;
}

h1 .titulo {
   font-size: 1.5rem;
   margin: 1rem 0;
   text-align: center;
}

.editar-form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
}
.editar-form * {
   grid-column: 1 / 3;
}
.editar-form .precio {
   grid-column: 1 / 2;
}
.editar-form .descuento {
   grid-column: 2 / 3;
}

.input-contenedor {
   margin: 0 0 1rem;
}

.editar-form label {
   display: block;
   font-weight: bolder;
   margin: 0 0 0.3rem 0.5rem;
   font-size: 0.9rem;
   color: var(--verde);
}
.editar-form input,
.editar-form textarea {
   display: block;
   width: 100%;
   border: none;
   border-radius: 0.3rem;
   padding: 0.5rem;
   font-size: 0.9rem;
   background-color: var(--fondo-input);
   resize: none;
}
.editar-form input:focus-within,
.editar-form textarea:focus-within {
   outline-color: var(--verde);
}
.editar-form .button-agregar button {
   padding: 1rem 0;
   width: 100%;
   line-height: 1;
   border: none;
   border-radius: 0.3rem;
   background-color: var(--amarillo);
   color: var(--verde);
   font-weight: bolder;
}
.editar-form .img-edit {
   display: block;
   margin: 0 auto;
   width: 70%;
   height: 70%;
   
   
}
@media screen and (min-width: 596px) {
   .editar-form {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .editar-form * {
      grid-column: 1 / 4;
   }
   .editar-form .precio {
      grid-column: 1 / 2;
   }
   .editar-form .descuento {
      grid-column: 2 / 3;
   }
   .editar-form .categoria {
      grid-column: 3 / 4;
   }
}
